public static void main(String[] args) {
        // TODO code application logic here
         int a, b, c, d, e, f, g; Scanner x = new Scanner(System.in);
     int w=1;
     System.out.println("Ingrese su numero de cuenta: "); a =x.nextInt();  
     System.out.println("Saldo inicial del mes: "); b =x.nextInt();
     System.out.println("Limite de credito permitido al mes: "); c =x.nextInt();
     System.out.println("Total de articulos cargados en el mes: "); d =x.nextInt();
     System.out.println("");
     
     float h=b;
     float i=c;
     while(w<=d)
     {
     System.out.println("Precio del articulo " + w + ":"); f =x.nextInt();  
     h=h-f;
     System.out.println("Total de cargos aplicados por la compra: "); g =x.nextInt();
     i=i-g;
     System.out.println("");
     w=w+1;
     
     }
     System.out.println("Numero de cuenta: "+a);
     if(h>b){System.out.println("Sus compras han excedido el limite de saldo de su cuenta: ");}
     else{System.out.println("Su saldo actual es: "+h);}
     if(i>c){System.out.println("Sus cargos han excedido el limite de credito de su cuenta: ");}
     else{System.out.println("Su credito actual es: "+i);}
 }
}
